<!-- this is an AngularJS View Template -->
<!-- it is necessary to create a module into which we place our ng-app -->



//Offers pre-calculated tip amounts of 10%, 15%, or 20%
//Provides a final total (including tax and tip

<html ng-app="AngularJSExample">
    <head>
        <!-- from Google Hosted Libraries -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.17/angular.min.js"></script>
        <script lang="javascript">
        
            var myModule = angular.module('AngularJSExample', []);
            
            //first register the controller - https://docs.angularjs.org/guide/migration
            myModule.controller('CostController', 
                //we make an AngularJS controller right here in the template (we won't normally do this though)
                function ($scope) {
                    
                    var cc = this;
                    
                    cc.cost = 1000.1;
                    cc.add_tax = true;
                    cc.total_bill = true;
                    
                    function update(){
                        cc.tax =  cc.cost * cc.shipping.amount;  
                        cc.total = parseFloat(cc.cost) + cc.tax; 
                        
                        
                    
                    }
                    
                    //used to detect when cost changes
                    $scope.$watch('cc.cost', update);
                    $scope.$watch('cc.add_tax', update);
                    $scope.$watch('cc.shipping', update);
                    $scope.$watch('cc.cost + cc.tax', update);
                    $scope.$watch('cc.tip.amount',update);
                    
                    //final bill
                    cc.final_bill = 0.0;
                    cc.add = function add(){
                        cc.final_bill += (cc.total* cc.tip.amount) + cc.total;   
                    };
                    
                    //shipping options
                    cc.shipping_options = [
                        {amount:0.0851, name:"Alabama"},
                        {amount:0.0169, name:"Alaska"},
                        {amount:0.0919, name:"Arkansas"},
                        {amount:0.0841, name:"California"},
                        {amount:0.0739, name:"Colorado"},
                        {amount:0.0635, name:"Connecticut"},
                        {amount:0.0, name:"Delaware"},
                        {amount:0.0662, name:"Florida"},
                        {amount:0.0697, name:"Georgia"},
                        {amount:0.0435, name:"Hawaii"},
                        {amount:0.0603, name:"Idaho"},
                        {amount:0.0816, name:"Illinois"},
                        {amount:0.0679, name:"Nebraska"},
                        {amount:0.0793, name:"Nevada"},
                        {amount:0.0, name:"New Hampshire"},
                        {amount:0.0697, name:"New Jersey"},
                        {amount:0.0726, name:"New Mexico"},
                        {amount:0.0847, name:"New York"},
                        {amount:0.0690, name:"North Carolina"},
                        {amount:0.0655, name:"North Dakota"},
                        {amount:0.0711, name:"Ohio"},
                        {amount:0.0872, name:"Oklahoma"},
                        {amount:0.0, name:"Oregon"},
                        {amount:0.0634, name:"Pennsylvania"},
                        {amount:0.0700, name:"Indidana"},
                        {amount:0.0678, name:"Iowa"},
                        {amount:0.0815, name:"Kansas"},
                        {amount:0.0600, name:"Kentucky"},
                        {amount:0.0889, name:"Louisiana"},
                        {amount:0.0550, name:"Maine"},
                        {amount:0.0600, name:"Maryland"},
                        {amount:0.0625, name:"Massachusetts"},
                        {amount:0.0600, name:"Michigan"},
                        {amount:0.0719, name:"Minnesota"},
                        {amount:0.0700, name:"Mississippi"},
                        {amount:0.0758, name:"Missouri"},
                        {amount:0.0, name:"Montana"},
                        {amount:0.0700, name:"Rhode Island"},
                        {amount:0.0719, name:"South Carolina"},
                        {amount:0.0583, name:"South Dakota"},
                        {amount:0.0945, name:"Tennessee"},
                        {amount:0.0825, name:"Texas"},
                        {amount:0.0668, name:"Utah"},
                        {amount:0.0614, name:"Vermont"},
                        {amount:0.0563, name:"Virginia"},
                        {amount:0.0888, name:"Washington"},
                        {amount:0.0607, name:"West Virginia"},
                        {amount:0.0543, name:"Wisconsin"},
                        {amount:0.0549, name:"Wyoming"}
                        
                        
                      
                    ];
                    
                    cc.tip_options = [
                        
                            {amount:.10, name:"10%"},
                            {amount:.15, name:"15%"},
                            {amount:.20, name:"20%"}
                        
                        ];
                    
                    cc.shipping = cc.shipping_options[0];
                    
                    cc.tip = cc.tip_options[0];
                }
            );
        </script>
    </head>
    <body>
        <div ng-controller="CostController as cc">
            <input type="checkbox" ng-model="cc.add_tax" />Add Tax
            <input type="checkbox" ng-model="cc.total_bill" />Show Total
            <p>
                Cost: <input type="text" ng-model="cc.cost" placeholder="cost" /><br/>
                State: <select ng-model="cc.shipping" ng-options="s.name for s in cc.shipping_options"></select><br/>
                Tip: <select ng-model="cc.tip" ng-options="s.name for s in cc.tip_options"></select>
            </p>
            <p>
                <!-- the angular directive both associates with the cost model and
                uses a built-in formatting capability -->
                This is your cost: {{cc.cost|currency}}
            </p>
            <p>
                This is your tax: {{cc.tax|currency}}
            </p>
            <p ng-show="cc.total_bill">
                This is your total: {{cc.total|currency}}
                <button ng-click="cc.add()">Add</button>
            </p>
            <p ng-show="cc.total_bill">
                Your running total is {{cc.final_bill|currency}}
            </p>
        </div>
    </body>
</html>
